---
import { getCollection } from 'astro:content';
import Table from '../../components/Table.astro';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
  const anomalies = await getCollection('anomalies');

  return anomalies.map((anomaly) => ({
    params: { id: anomaly.data.anomalyId.toLowerCase() },
    props: { anomaly }
  }));
}

const { anomaly } = Astro.props;
const { Content } = await anomaly.render();
---

<ContentLayout title={`Eidolon Capital Intranet - Anomaly - ${anomaly.data.title}`}>
  <h2>{anomaly.data.title}</h2>

  <Table>
    <tr>
      <td><strong>Anomaly ID:</strong></td>
      <td>{anomaly.data.anomalyId}</td>
    </tr>
    <tr>
      <td><strong>Classification:</strong></td>
      <td>{anomaly.data.classification}</td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td>{anomaly.data.status}</td>
    </tr>
    <tr>
      <td><strong>Discovery Date:</strong></td>
      <td>{anomaly.data.discoveryDate}</td>
    </tr>
    <tr>
      <td><strong>Location:</strong></td>
      <td>{anomaly.data.location}</td>
    </tr>
  </Table>

  <hr>

  <div class="field-border">
    <article>
      <Content />
    </article>
  </div>

  <hr>

  <a href="/anomalies">
    <button>← Back to Reports</button>
  </a>
</ContentLayout>
