---
import { getCollection, render } from 'astro:content';
import Table from '../../components/Table.astro';
import ContentLayout from '../../layouts/ContentLayout.astro';
import anomalyIcon from '../../assets/Icons/Anomaly Icon.png';
import Icon from '../../components/Icon.astro';

export async function getStaticPaths() {
  const anomalies = await getCollection('anomalies');

  return anomalies.map((anomaly) => ({
    params: { id: anomaly.data.id.toUpperCase() },
    props: { anomaly }
  }));
}

const { anomaly } = Astro.props;
const { Content } = await render(anomaly);
---

<ContentLayout title={`Eidolon Capital Intranet - Anomaly - ${anomaly.data.name}`}>
  <h1 class="flex items-center justify-between">
    {anomaly.data.name}
   <Icon class="mr-4" src={anomalyIcon} size={96} />    
  </h1>

  <Table>
    <tr>
      <td><strong>Anomaly ID:</strong></td>
      <td>{anomaly.data.id}</td>
    </tr>
    <tr>
      <td><strong>Classification:</strong></td>
      <td>{anomaly.data.classification}</td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td>{anomaly.data.status}</td>
    </tr>
    <tr>
      <td><strong>Discovery Date:</strong></td>
      <td>{anomaly.data.discoveryDate}</td>
    </tr>
    <tr>
      <td><strong>Location:</strong></td>
      <td>{anomaly.data.location}</td>
    </tr>
  </Table>

  <hr class="mt-1">

  <div class="field-border mt-2">
    <article>
      <Content />
    </article>
  </div>

  <hr>

  <a href="/anomalies">
    <button class="mt-2">← Back to Reports</button>
  </a>
</ContentLayout>
